.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content{
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-content ul{
    list-style: none;
    display: flex;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a{
    color: inherit;
}

.menu-content ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu-content ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background-color: crimson;
}

.menu-content ul li a:hover::after{ /*Pseudo classe vem primeiro que elemento*/
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 50%;
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out;
}


.close-menu{
    display: none;
    position: none;
    z-index: 2;
    top: 0;
    left: 0;
}


@media (max-width: 800px){
    .menu{
        bottom: 0;
        text-align: center;
        display: none;
    }

    .menu-content{
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }

    .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .close-menu-label::after{
        content:'≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    /* &times; */
    .close-menu:checked~.menu{
        display:block;
    }

    .close-menu:checked~.close-menu-label::after{
        display:block;
        content: '×';
    }

    .menu-spacing{
        display: none;
    }
}
