.responsive-table{
    width: 80%;
    overflow: auto;
}

.footer{
    height: 7.5rem;
    text-align: center;
    color:#444;
}

.footer p{
    padding-top: 2.2rem;
    font-size: 1.6rem;
}

.footer span{
    color: var(--secondary-color);
}
